* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.App {
  background-image: url(../src/img/covidbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.wrapper {
  height: max-content;
}

.wrapper-sub {
  height: calc(100vh - 64px);
}

.Map {
  height: 450px;
  width: max-content;
  margin: 10px;
  margin-bottom: 15px;
}
.Map .leaflet-container {
  height: 100%;
  border-radius: 12px;
  border: 2px solid white;
  width: 500px;
}
.Popup_flag {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Popup_flag img {
  width: 100px;
  height: 100%;
  border-radius: 5px;
}

.Popup_name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

.Popup_Container {
  width: 150px;
}

.Popup_flag {
  height: 80px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.Popup_confirmed,
.Popup_recovered,
.Popup_deaths {
  font-size: 16px;
  margin-top: 5px;
}

@media screen and (max-width: 520px) {
  .Map {
    height: 250px;
  }
  .Map .leaflet-container {
    width: 300px;
  }
}
